/* test */

/* common */
* {
  font-family: "Poppins", serif;
  font-weight: 400;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

/* layout */
.root {
  background-color: #e0e0e0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard {
  height: 80vh;
  width: 80vw;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  display: flex;
}

/* left-container */

.left-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-right: 2px solid #f4f4f4;
}

.left-container > .logo-wrapper {
  border-bottom: 2px solid #f4f4f4;
  flex: 1;
}

.left-container > nav {
  flex: 4;
  border-bottom: 2px solid #f4f4f4;
}

.left-container > nav > ul,
.left-container > footer {
  padding-left: 10px;
}

.left-container > nav > ul > li,
.left-container > footer > ul > li {
  display: flex;

  /* border: 1px solid black; */
  /* 추가 코드 */
  margin-bottom: 20px;
  align-items: center;
}

/* 추가 코드 */
.left-container > nav > ul > li:hover,
.left-container > footer > ul > li:hover {
  background-color: rgb(107, 134, 255);
  color: white;
  border-radius: 5px;
}

.left-container > nav > ul > li > .nav-icon,
.left-container > footer > ul > li > .nav-icon {
  margin-right: 10px;
}

.left-container > footer {
  flex: 2;
}

/* right-container */
.right-container {
  flex: 5;
}
